# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files (VERY IMPORTANT)
.env
.env.*
backend/.env
frontend/.env.local

# Logs
*.log

# Node / Next.js
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/